<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome, {{ user_details.name }}</h1>
    <h2>User Details:</h2>
    <p>Name: {{ user_details.name }}</p>
    <p>Address: {{ user_details.address }}</p>
    <p>Mobile: {{ user_details.mobile }}</p>
    <p>Enrollment ID: {{ user_details.enrollment_id }}</p>
    <p>Course Name: {{ user_details.course_name }}</p>

    <hr>

    <h2>Dues Left Against Student</h2>
    <table>
        <tr>
            <th>Category</th>
            <th>Remark</th>
            <th>Action</th>
        </tr>
        {% for category, remark in user_due.items() %}
        <tr>
            <td>{{ category }}</td>
            <td>{{ remark }}</td>
            <td>
                <!-- Add action buttons if needed -->
            </td>
        </tr>
        {% endfor %}
    </table>

    <form action="{{ url_for('logout') }}" method="POST">
        <div>
            <button type="submit">Log Out</button>
        </div>
    </form>

</body>
</html>
