<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>No-Dues: {{ title }}</title>
    {% else %}
        <title>No-Dues: Portal</title>
    {% endif %}
  
</head>
<body style="background-image: url(../static/Spiraliitropar.jpg); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <!-- The naviagation bar -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand" href="/">No Dues and Alumini Network</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link" href="{{ url_for('student_home') }}">Dashboard</a>
                  <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Login
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{ url_for('student_login') }}">Student</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('faculty_login') }}">Faculty</a></li>
                      <li><a class="dropdown-item" href="#">Alumini</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('admin') }}">Admin</a></li>
                    </ul>
                  </li>
                  {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </header>
    
      
    <!-- Enclosing the content in a container and in a main shell snippet-->
    <main role="main" class="container">
      <div class="row">
          <div class="col-md-8">
              <div class="content-section">
                  <!-- Latest Posts Container -->
                  <h3>Latest Posts</h3>
                  <ul class="list-group">
                      <li class="list-group-item list-group-item-light">Post 1</li>
                      <li class="list-group-item list-group-item-light">Post 2</li>
                      <!-- Add more posts here -->
                  </ul>
              </div>
          </div>
          <div class="col-md-4">
              <div class="content-section">
                  <!-- Events Container -->
                  <h3>Events</h3>
                  <ul class="list-group">
                      <li class="list-group-item list-group-item-light">Event 1</li>
                      <li class="list-group-item list-group-item-light">Event 2</li>
                      <!-- Add more events here -->
                  </ul>
              </div>
              <div class="content-section mt-4">
                  <!-- Job Postings Container -->
                  <h3>Job Postings</h3>
                  <ul class="list-group">
                      <li class="list-group-item list-group-item-light">Job 1</li>
                      <li class="list-group-item list-group-item-light">Job 2</li>
                      <!-- Add more job postings here -->
                  </ul>
              </div>
          </div>
      </div>
  </main>


    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>