{% extends "layout.html" %}
{% block content %}
    {% for records in due_records %}
        <!-- TODO: 1) An if conditional checking which enrollment_no to show the records for.
        2) Implement an algorithm for faster search in database (database indexing)  -->
        {% if records.enrollment_no == '007' %}
            <h2>Your Due details</h2>
            <p>Enrollment No: {{ records.enrollment_no }}</p>
            <p>Hostel Fees: {{ records.hostel_fees }}</p>
            <p>Tuition Fees: {{ records.tuition_fees }}</p>
            <p>Other Fees: {{ records.other_fees }}</p>
            <p>Library: {{ records.library }}</p>
        {% endif %}
    {% endfor %}

{% endblock content %}