<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

</head>
<body>
    <h1 align="center">Check Your Dues</h1>
    <h2>Your Details:</h2>

    <!-- Display the user's profile data here -->
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Course: {{ user.course }}</p>
    <p>Address: {{ user.address }}</p>
    <p>Batch: {{ user.batch }}</p>
    <hr>

    <p align="center">Dues Left Against Student</p>
    <hr>

    <div>
        <table>
            <tr>
                <th>Category</th>
                <th>Remark</th>
                <th>Action</th>
            </tr>
            {% for category, remark in user.dues.items() %}
            <tr>
                <td>{{ category }}</td>
                <td>{{ remark }}</td>
                <td>
                    <!-- should display from a list or dictionary -->
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <form action="{{ url_for('logout') }}" method="POST">
        <div>
            <button type="submit">Log Out</button>
        </div>
    </form>


</body>
</html>
